<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="base/base">

<head>
    <title>Cadastrar Empilhamento | Alocação Professores</title>
</head>

<section layout:fragment="conteudo">
	<form th:action="@{${'/empilhamentos/cadastrar'}}" method="POST">
		<div class="form-group">
				<h3 class="box-title m-b-0">Cadastrar Empilhamento</h3>
            	<label>Disciplina A</label>
            	<div class="col-md-12">
	              	<select th:field="*{empilhamento.primeiraDisciplina}" id="disciplinaASelect" class="js-example-basic-multiple" name="primeiraDisciplina">
	             		
	                	<option th:each ="disciplina : ${disciplinas}" 
	                	    th:value = "${disciplina.id}"
	                        th:text = "${disciplina.nome}"></option>
					</select>
				</div>
             </div>
             <div class="form-group">
              <label>Turma A</label>
              <div class="col-md-12">
	              <select th:field="*{empilhamento.primeiraTurma}" id="turmaASelect" class="js-example-basic-multiple" name="primeiraTurma">
	             		
	                	<option th:each ="turma : ${turmas}" 
	                	    th:value = "${turma.id}"
	                        th:inline="text">[[${turma.curso.nome}]] - [[${turma.semestre}]]</option>
					</select>
				</div>
             </div>
            <div class="form-group">
              <label>Disciplina B</label>  
              <div class="col-md-12">    
	              <select th:field="*{empilhamento.segundaDisciplina}" id="disciplinaBSelect" name="segundaDisciplina" class="js-example-basic-multiple">
	             		
	                	<option th:each ="disciplina : ${disciplinas}" 
	                	    th:value = "${disciplina.id}"
	                        th:text = "${disciplina.nome}"></option>
					</select>
				</div>
            </div>
            <div class="form-group">
              <label>Turma B</label>
              <div class="col-md-12">
	              <select th:field="*{empilhamento.segundaTurma}" id="turmaBSelect" class="js-example-basic-multiple" name="segundaTurma">
	             		
	                	<option th:each ="turma : ${turmas}" 
	                	    th:value = "${turma.id}"
	                        th:inline="text">[[${turma.curso.nome}]] - [[${turma.semestre}]]</option>
	                  
					</select>
				</div>
             </div>
              <div class="text-right">
				<button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Cadastrar</button>
				<button type="button" class="btn btn-inverse waves-effect waves-light">Cancelar</button>
			</div>
	</form>
	<!--end container-->
</section>
<section layout:fragment="js">
	<script type="text/javascript">		
		$("#disciplinaASelect").select2();
		$("#disciplinaBSelect").select2();
		$("#turmaASelect").select2();
		$("#turmaBSelect").select2();
	</script>
</section>
</html>












	








