<!DOCTYPE html>
<html lang="ptBR" 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="base/base">

	<link rel="icon" type="image/png" sizes="16x16" th:href="@{/plugins/images/favicon.png}"></link>
	<title>Listar Empilhamento | Alocação Professores</title>

<section layout:fragment="conteudo">
	<div class="row bg-title">
		<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
			<h4 class="page-title">Empilhamentos</h4>
		</div>
		<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
			<a href="/empilhamentos/cadastrar"
				class="btn btn-success pull-right m-l-20 btn-rounded hidden-xs hidden-sm waves-effect waves-light"><i
				class="fa fa-plus" aria-hidden="true"></i> Novo Empilhamento</a>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="white-box">

				<div class="table-responsive">
					<table id="myTable" class="table table-striped">
						<thead>
							<tr> 
								<th>Primeira Turma</th>
								<th>Primeira Disciplina</th>
								<th>Segunda Turma</th>
								<th>Segunda Disciplina</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="empilhamento : ${empilhamentos}">
								<td th:inline="text">
									[[${empilhamento.primeiraTurma.curso.nome}]] -
									[[${empilhamento.primeiraTurma.semestre}]]</td>
								<td th:inline="text">
									[[${empilhamento.primeiraDisciplina.nome}]]</td>
								<td th:inline="text">
									[[${empilhamento.segundaTurma.curso.nome}]] -
									[[${empilhamento.segundaTurma.semestre}]]</td>
								<td th:inline="text">
									[[${empilhamento.segundaDisciplina.nome}]]</td>
								<td><a
									th:href="@{/empilhamentos/{id}/editar(id=${empilhamento.id})}"><button
											type="button"
											class="btn btn-inverse btn-circle waves-effect waves-light">
											<i class="fa fa-pencil" data-toggle="tooltip" data-placement="top" title="Editar"></i> Editar
										</button></a> <a
									th:href="@{/empilhamentos/{id}/excluir(id=${empilhamento.id})}"><button
											type="button"
											class="btn btn-danger btn-circle waves-effect waves-light m-r-10 sa-btn-excluir" data-toggle="tooltip" data-placement="top" title="Excluir">
											<i class="fa fa-close"></i> Excluir
										</button></a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

</section>
</html>