<!DOCTYPE html>
<html lang="ptBR" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="base/base">


	<link rel="icon" type="image/png" sizes="16x16"
		th:href="@{../plugins/images/favicon.png}" />
	<title>Editar</title>
	
	<section layout:fragment="header">
		<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
			<h4 class="page-title">Ofertas</h4>
		</div>
	</section>
	
	<section layout:fragment="conteudo">
	
		<h3 class="box-title m-b-0">Editar Dados da Oferta de Disciplina</h3>
		<p class="text-muted m-b-5 font-13"></p>
		<h3 class="box-title m-b-0">Período:</h3>
		<p class="text-muted m-b-20 font-13"></p>
		<form class="form-horizontal">
			<div class="form-group">
				<label class="col-md-12">Disciplina</label>
				<div class="col-md-12">
					<input type="text" class="form-control" value=""></input>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-12">Turma</label>
				<div class="col-md-12">
					<input type="text" class="form-control" value=""></input>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-12">Professor</label>
				<div class="col-md-12">
					<input type="text" class="form-control" value=""></input>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-12">Vagas</label>
				<div class="col-md-12">
					<input type="text" class="form-control" value=""></input>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-12">Turno</label>
				<div class="col-sm-12">
					<select class="form-control">
						<option></option>
						<option>MANHÃ</option>
						<option>TARDE</option>
						<option>NOITE</option>
						<option>MESMO_DIA</option>
					</select>
				</div>
	
				<div class="form-group">
					<label class="col-md-12">Observações</label>
					<div class="col-md-12">
						<textarea class="form-control" rows="5"></textarea>
					</div>
				</div>
			</div>
		</form>
	
	</section>

</html>
