<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="base/base">

	<head>
		<title>Editar Oferta | Alocação Professores</title>
	</head>
	
	<section layout:fragment="conteudo">
		<div class="row bg-title">
			<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
				<h4 class="page-title">Editar Compartilhamentos</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="white-box">
					<form th:action="@{/editar-oferta/{id}(id=${oferta.id})}" method="POST" th:object="${oferta}">
						<div class="form-group">
							<label class="control-label m-l-10">INFORMAÇÕES DA OFERTA</label>
						</div>
						
						<div class="form-group">
							<label for="turma" class="control-label m-l-10">Turma</label>
							<input id="turma" th:value="*{turma.curso.nome +' - '+ turma.semestre.descricao + ' Semestre'}" readonly="readonly" />
						</div>
						
						<div class="form-group">
							<label for="disciplina" class="control-label m-l-10">Disciplina</label>
							<input id="disciplina" th:value="*{disciplina.nome}" readonly="readonly" />
						</div>
						
						<div class="form-group">
							<label for="turno" class="control-label m-l-10">Turno</label>
							<input id="turno" th:value="*{turno.descricao}" readonly="readonly" />
						</div>
						
						
						<br/>
						<div th:if="${!oferta.compartilhamentos.empty}" class="form-group">
							<label class="control-label m-l-10">COMPARTILHAMENTOS DA OFERTA</label>
							<div class="table-responsive">
					            <table id="myTable" class="table table-striped ">
					              <thead>
					                <tr>
					                  <th class="text-center">Curso</th>
					                  <th class="text-center">Turma</th>
					                  <th class="text-center">Vagas</th>
					                </tr>
					              </thead>
					              <tbody>
					                <tr th:each="compartilhamento, rowStat: *{compartilhamentos}">
					                  <input type="hidden" th:field="*{compartilhamentos[__${rowStat.index}__].id}"></input>
					                  <input type="hidden" th:field="*{compartilhamentos[__${rowStat.index}__].oferta}"></input>
					                  <td th:text="${compartilhamento.turma.curso.nome}"></td>
					                  <td>
					                  	<select th:field="*{compartilhamentos[__${rowStat.index}__].turma}" th:class="form-control" required="required">
											<option th:each = "turma : ${compartilhamento.turma.curso.turmas}" th:selected="${turma == compartilhamento.turma}" th:value = "${{turma}}" th:text = "${turma.semestre.descricao + ' Semestre - ' + turma.curso.nome}"></option>
										</select>
					                  </td>
					                  <td>
					                  	<input type="text" th:field="*{compartilhamentos[__${rowStat.index}__].vagas}"></input>
					                  </td>
					                  <!--td>                                 
					                    <a sec:authorize="hasAnyAuthority('DIRECAO')" data-toggle="tooltip" data-placement="top" title="Excluir" class="btn btn-danger btn-circle btn-xs waves-effect waves-light sa-btn-excluir">
					                    	<i class="fa fa-save"></i>  
					                    </a>                 
					                  </td-->      					
					                </tr>                           
					              </tbody>
					            </table>
			            	</div>
						</div>
						
						<div th:if="${oferta.compartilhamentos.empty}" class="form-group">
							<label class="control-label m-l-10">* Não existem compartilhamentos para esta oferta.</label>
						</div>

						<div class="text-right">
							<a th:href="@{/oferta-campus}"><button type="button" class="btn btn-inverse waves-effect waves-light">Cancelar</button></a>
							<button th:disabled="${oferta.compartilhamentos.empty}" type="submit" class="btn btn-success waves-effect waves-light">Salvar alterações</button>
						</div>
				</form>
			</div>
		</div>
		</div>
	</section>
	<section layout:fragment="js">
		<!-- Select2 Tradução Português Brasileiro -->
<script th:src="@{/plugins/select2/js/i18n/pt-BR.js}"></script>
<script type="text/javascript">		
$(".select2").select2({
	"language": "pt-BR"
});
</script>
	</section>
</html>