<!DOCTYPE html>
<html
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="base/base">

	<head>
		<title>Editar Oferta | Alocação Professores</title>
	</head>
	
	<section layout:fragment="conteudo">
		<div class="row bg-title">
			<h3 class="box-title m-b-0">Editar Oferta</h3>
		</div>
		
		<div class="row">
			<div class="col-md-12">
				<div class="white-box">
					<form class = "form-horizontal" th:action="@{/ofertas/{id}/editar(id=${oferta.id})}" method="POST" th:object="${oferta}">
						<div class="form-group">
							<label class="control-label m-l-10 label-detalhes" th:text="${cursoAtual.nome}"></label>
						</div>

						<div class="form-group" th:classappend="${#fields.hasErrors('turma')} ? has-error">
							<label for="turma" class="control-label m-l-10">Turma</label>
							<div class="col-md-12">
								<select id="turma" th:field="*{turma}" class = "form-control"  required="required">
									<option value="">Selecione uma turma</option>
									<option th:each="turma : ${cursoAtual.turmas}" th:value="${{turma}}" th:text="${turma.semestre.descricao + ' Semestre - ' + turma.curso.nome}"></option>
								</select>
								<span th:if="${#fields.hasErrors('turma')}" th:errors="*{turma}" class = "help-block with-errors"></span>
							</div>
						</div>
						<div class="form-group" th:classappend="${#fields.hasErrors('disciplina')} ? has-error">
							<label for = "disciplina" class="control-label m-l-10">Disciplina</label>
							<div class="col-md-12">
								<select id="disciplina" th:field="*{disciplina}" class = "form-control select2" required="required">
									<option value = "">Selecione uma disciplina</option>
									<option th:each = "disciplina : ${disciplinas}" th:value = "${{disciplina}}" th:inline="text">[[${disciplina.codigo}]] - [[${disciplina.nome}]]</option>
								</select>
								<span th:if="${#fields.hasErrors('disciplina')}" th:errors="*{disciplina}" class = "help-block with-errors"></span>
							</div>
						</div>
						
						<div class = "form-group" th:classappend= "${#fields.hasErrors('vagas')}? has-error">
							<label class = "control-label m-l-10" for = "vagas">Número de Vagas</label>
							<div class = "col-md-12">
								<input type = "number" id = "vagas" th:field = "*{vagas}" class = "form-control" min = "0"  required="required" />
								<span th:if = "${#fields.hasErrors('vagas')}" th:errors = "*{vagas}" class = "help-block with-errors"></span>
							</div>
				 		</div>
						
						<div class="form-group" th:classappend="${#fields.hasErrors('turno')} ? has-error">
							<label for = "turno" class="control-label m-l-10">Turno</label>
							<div class="col-md-12">
								<select id="turno" th:field="*{turno}" class = "form-control" required="required">
									<option value = "">Selecione um turno</option>
									<option th:each = "turno : ${T(ufc.quixada.npi.ap.model.Oferta.Turno).values()}" th:value = "${turno}" th:text = "${turno.descricao}"></option>
								</select>
								<span th:if="${#fields.hasErrors('turno')}" th:errors="*{turno}" class = "help-block with-errors"></span>
							</div>
						</div>
						<div class="form-group" th:classappend="${#fields.hasErrors('mesmoDia')} ? has-error">
							<label class="control-label m-l-10">Mesmo Dia</label>
							<div class="col-md-12">
 								<select class="form-control" th:field="*{mesmoDia}">
									<option value="true">SIM</option>
									<option value="false">NÃO</option>
								</select> <span th:if="${#fields.hasErrors('mesmoDia')}" th:errors="*{mesmoDia}" class="help-block with-errors"></span>
							</div>
						</div>

 						<div class="form-group" th:classappend="${#fields.hasErrors('horarioInicio')} ? has-error">
 							<div class="col-md-12">
								<div class="checkbox checkbox-primary">
<!-- 								th:field="*{horarioInicio}"  -->
									<input id="horarioInicio" value="false" type="checkbox" class="js-switch"/>
<!-- 									<label for="checkbox2"> Selecione um horario de início</label> -->
									<label for="horarioInicio">Quero a oferta no inicio do turno</label>
 								<span th:if="${#fields.hasErrors('horarioInicio')}" th:errors="*{horarioInicio}" class="help-block with-errors"></span>
								</div>
							</div>
 						</div>

 						<div class = "form-group" th:classappend= "${#fields.hasErrors('aulasEmLaboratorio')}? has-error">
 							<label class = "control-label m-l-10" for = "aulasEmLaboratorio">Número de Aulas Semanais em Laboratório</label>
 							<div class = "col-md-12">
 								<input type = "number" id = "aulasEmLaboratorio" th:field = "*{aulasEmLaboratorio}" class = "form-control" min = "0" required="required" />
 								<span th:if = "${#fields.hasErrors('aulasEmLaboratorio')}" th:errors = "*{aulasEmLaboratorio}" class = "help-block with-errors"></span>
 							</div>
 				 		</div>

 						<div class="form-group" th:classappend= "${#fields.hasErrors('aulasEmLaboratorio')}? has-error">
 							<label class="control-label m-l-10" for="numeroProfessores">Número de Professores da Turma</label>
 							<div class="col-md-12">
 								<input type="number" id="numeroProfessores" th:field = "*{numeroProfessores}" min="0" class="form-control"/>
 								<span th:if="${#fields.hasErrors('numeroProfessores')}" th:errors="*{numeroProfessores}" class="help-block with-errors"></span>
 							</div>
 				 		</div>

						<div class = "form-group" th:classappend= "${#fields.hasErrors('observacao')}? has-error">
							<label class = "control-label m-l-10" for = "observacao">Observação</label>
							<div class = "col-md-12">
								<textarea id = "observacao" th:field = "*{observacao}" class = "form-control" rows = "5"></textarea>
								<span th:if = "${#fields.hasErrors('observacao')}" th:errors = "*{observacao}" class = "help-block with-errors"></span>
							</div>
						</div>

						<div class="form-group" th:classappend="${#fields.hasErrors('professores')} ? has-error">
							<label for = "professores" class="control-label m-l-10">Professores Sugeridos</label>
							<div class="col-md-12">
								<select id="professores" th:field="*{professores}" class = "form-control select2 select2-multiple" multiple="multiple" data-placeholder = "Selecione os professores" >
									<option th:each = "professor : ${professores}" th:value = "${{professor}}" th:text = "${professor.pessoa.nome}"></option>
								</select>
								<span th:if="${#fields.hasErrors('professores')}" th:errors="*{professores}" class = "help-block with-errors"></span>
							</div>
						</div>


						<div class="text-right">
							<a th:href="@{/ofertas/}"><button type="button" class="btn btn-inverse waves-effect waves-light">Cancelar</button></a>
							<button type="submit" class="btn btn-success waves-effect waves-light">Salvar alterações</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
	<section layout:fragment="js">
		<!-- Select2 Tradução Português Brasileiro -->
		<script th:src="@{/plugins/select2/js/i18n/pt-BR.js}"></script>
		<script type="text/javascript">		
		$(".select2").select2({
			"language": "pt-BR"
		});
</script>
	</section>
</html>