<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="base/base">

	<head>
		<title>Cadastrar Oferta | Alocação Professores</title>
		
		<link th:href="@{/plugins/sweetalert/sweetalert.css}" rel="stylesheet" type="text/css"></link>
		<link th:href="@{/css/alocacao_professores.css}" rel="stylesheet" type="text/css"></link>
			
		<meta name="ctx" th:content="${#httpServletRequest.getRequestURL()}"></meta>
	</head>
	
	
	<section layout:fragment="conteudo">
		<div class="row bg-title">
			<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
				<h4 class="page-title">Cadastrar Oferta</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="white-box">
					<form class = "form-horizontal">
						<div class="row">
							<div class="row">
								<label>Selecione o semestre</label>
							</div>
							<div class="row">
								<div class="col-md-10">
									<select id="periodo" class="form-control pull-left">
										<option th:value="0">Selecione o semestre..</option>
										<option th:each="p : ${periodos}"
											th:text="${p.semestre.descricao} +' semestre de ' + ${p.ano}"
											th:value="${p.id}">
										</option>
									</select>
								</div>
								<div class="col-md-2">
									<button type="button" class="btn btn-info" id="btn-exibir-ofertas">Exibir ofertas</button>
									<button type="button" class="btn btn-info" id="btn-limpar-ofertas">Limpar</button>
								</div>
							</div>
							<br />
							<div class="row table-responsive hidden">
								<table class="table table-striped table-bordered" id="resultado-ofertas">
									<thead>
										<tr>
											<th>Nome</th>
											<th>Turma</th>
											<th>Turno</th>
											<th>Vagas</th>
										</tr>
									</thead>
									<tbody id="corpo-resultado-ofertas">
									</tbody>
								</table>
								<div class = "col-md-12 text-right">
									<a th:href="@{/ofertas/}" class="btn btn-inverse waves-effect waves-light">Cancelar</a>
									<button type="button" class="btn btn-success" id="btn-importar-ofertas">Importar</button>
								</div>
							</div>
							<div id="sem-resultado-ofertas" class="row hidden">
								<div id="" class="col-md-12 alert alert-danger">
									<p><strong>Não foi encontrado resultado para a sua busca.</strong></p>
								</div>
							</div>
						</div>
<!-- 						<div class="row"> -->
<!-- 							<div class="col-md-12 msg-substituicao"> -->
<!-- 								<p>As ofertas abaixo já estão disponibilizadas para -->
<!-- 									o período atual, selecione quais ofertas gostaria de realizar -->
<!-- 									uma substituição.</p> -->
<!-- 							</div> -->
<!-- 							<div class = "col-md-12 alert alert-danger"><strong>Atenção!</strong> Ao confirmar a substituição da oferta, todos os compartilhamentos serão deletados.</div> -->
<!-- 						</div> -->
						<br />
					</form>
				</div>
			</div>
		</div>
	</section>
	<section layout:fragment="js">
		<!-- Select2 Tradução Português Brasileiro -->
		<script th:src="@{/plugins/select2/js/i18n/pt-BR.js}"></script>
		<script type="text/javascript">		
			$(".select2").select2({
				"language": "pt-BR"
			});
		</script>
		<script type="text/javascript" th:src="@{/js/oferta/importar.js}"></script>
	</section>
</html>