<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="base/base">

	<head>
		<title>Cadastrar Oferta | Alocação Professores</title>
		
		<link th:href="@{/plugins/sweetalert/sweetalert.css}" rel="stylesheet" type="text/css"></link>
		<link th:href="@{/css/alocacao_professores.css}" rel="stylesheet" type="text/css"></link>
			
		<meta name="ctx" th:content="${#httpServletRequest.getRequestURL()}"></meta>
	</head>
	
	
	<section layout:fragment="conteudo">
		<div class="row bg-title">
			<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
				<h4 class="page-title">Cadastrar Oferta</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="white-box">
					<form class = "form-horizontal">
						<div class="row">
							<div class="row">
								<div class = "col-md-12">
									<label for="periodo">Selecione o semestre</label>
								</div>
							</div>
							<div class="row">
								<div class="col-md-10">
									<select id="periodo" class="form-control pull-left">
										<option th:value="0">Selecione o semestre...</option>
										<option th:each="p : ${periodos}"
											th:text="${p.semestre.descricao} +' semestre de ' + ${p.ano}"
											th:value="${p.id}">
										</option>
									</select>
								</div>
								<div class="col-md-2">
									<button type="button" class="btn btn-info" id="btn-exibir-ofertas">Exibir ofertas</button>
									<button type="button" class="btn btn-info" id="btn-limpar-ofertas">Limpar</button>
								</div>
							</div>
							
							<br />
							
							<div id="resultados" class = "row hidden">
								<ul class="nav nav-tabs nav-justified">
									<li class="active"><a href="#tab-ofertas" data-toggle="tab">Ofertas</a></li>
									<li><a href="#tab-ofertas-compartilhadas" data-toggle="tab">Ofertas compartilhadas</a></li>
									<li><a href="#tab-ofertas-importadas" data-toggle="tab">Ofertas importadas</a></li>
									<li><a href="#tab-ofertas-compartilhadas-importadas" data-toggle="tab">Ofertas compartilhadas importadas</a></li>
								</ul>
								
								<div class="tab-content">
									<div id="tab-ofertas" class = "table-responsive tab-pane fade in active">
										<table id="resultado-ofertas" class = "table table-striped table-bordered">
											<thead>
												<tr>
													<th class="col-md-9">Nome</th>
													<th class="col-md-1">Turma</th>
													<th class="col-md-1">Turno</th>
													<th class="col-md-1">Vagas</th>
												</tr>
											</thead>
											<tbody>
											</tbody>
										</table>
										<div class = "col-md-12 text-right">
											<a th:href="@{/ofertas/}" class="btn btn-inverse waves-effect waves-light">Cancelar</a>
											<button type="button" class="btn btn-success" id="btn-importar-ofertas">Importar</button>
										</div>
									</div>
									<div id="tab-ofertas-compartilhadas" class = "tab-pane fade">
										<table id="resultado-ofertas-compartilhadas" class="table table-striped table-bordered">
											<thead>
												<tr>
													<th class="col-md-8">Nome</th>
													<th class="col-md-1">Turma original</th>
													<th class="col-md-1">Turma do curso</th>
													<th class="col-md-1">Turno</th>
													<th class="col-md-1">Vagas</th>
												</tr>
											</thead>
											<tbody>
											</tbody>
										</table>
										<div class = "col-md-12 text-right">
											<a th:href="@{/ofertas/}" class="btn btn-inverse waves-effect waves-light">Cancelar</a>
											<button type="button" class="btn btn-success" id="btn-importar-ofertas-compartilhadas">Importar</button>
										</div>
									</div>
									<div id="tab-ofertas-importadas" class = "tab-pane fade">
										<table id="resultado-ofertas-importadas" class="table table-striped table-bordered">
											<thead>
												<tr>
													<th class="col-md-9">Nome</th>
													<th class="col-md-1">Turma</th>
													<th class="col-md-1">Turno</th>
													<th class="col-md-1">Vagas</th>
												</tr>
											</thead>
											<tbody>
											</tbody>
										</table>
									</div>
									<div id="tab-ofertas-compartilhadas-importadas" class = "tab-pane fade">
										<table id="resultado-ofertas-compartilhadas-importadas" class="table table-striped table-bordered">
											<thead>
												<tr>
													<th class="col-md-8">Nome</th>
													<th class="col-md-1">Turma original</th>
													<th class="col-md-1">Turma do curso</th>
													<th class="col-md-1">Turno</th>
													<th class="col-md-1">Vagas</th>
												</tr>
											</thead>
											<tbody>
											</tbody>
										</table>
									</div>
								</div>
							</div>
							<div id="sem-resultado-ofertas" class="row hidden">
								<div id="" class="col-md-12 alert alert-danger">
									<p><strong>Nenhum resultado encontrado para a sua busca.</strong></p>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
	<section layout:fragment="js">
		<script type="text/javascript" th:src="@{/js/oferta/importar.js}"></script>
		
		<!-- Select2 Tradução Português Brasileiro -->
		<script th:src="@{/plugins/select2/js/i18n/pt-BR.js}"></script>
		<script type="text/javascript">		
			$(".select2").select2({
				"language": "pt-BR"
			});
		</script>
	</section>
</html>