<!DOCTYPE html>
<html lang="ptBR" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="base/base">

<link rel="icon" type="image/png" sizes="16x16" th:href="@{../plugins/images/favicon.png}" />
<title>listar</title>

<section layout:fragment="header">
	<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
		<h4 class="page-title">Ofertas</h4>
	</div>
	<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
		<a
			href="https://themeforest.net/item/elite-admin-responsive-dashboard-web-app-kit-/16750820"
			target="_blank"
			class="btn btn-danger pull-right m-l-20 btn-rounded btn-outline hidden-xs hidden-sm waves-effect waves-light">Buy
			Now</a>
		<ol class="breadcrumb">
			<li><a href="#">Dashboard</a></li>
			<li class="active">Ofertas</li>
		</ol>
	</div>
	<!-- /.col-lg-12 -->
</section>


<section layout:fragment="conteudo">

	<label class="form-inline">Mostrar <select
		id="demo-show-entries" class="form-control input-sm">
			<option value="5">5</option>
			<option value="10">10</option>
			<option value="15">15</option>
			<option value="20">20</option>
	</select> Resultados
	</label>
	<table id="demo-foo-pagination" class="table m-b-0 toggle-arrow-tiny"
		data-page-size="5">
		<thead>
			<tr>
				<th data-toggle="true">Disciplina</th>
				<th>Professor</th>
				<th data-hide="phone">Turno</th>

			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Estrutura de Dados</td>
				<td>Davi Sena</td>
				<td>Manhã</td>
				<td><a class="btn btn-warning waves-effect waves-light"
					href="/ofertas/editar" role="button">Editar</a></td>
				<td><a class="btn btn-info waves-effect waves-light"
					href="/ofertas/detalhar" role="button">Ver Detalhes</a></td>
				<td><button type="button"
						class="btn btn-danger waves-effect waves-light">Excluir</button></td>
			</tr>
			<tr>
				<td>Estrutura de Dados</td>
				<td>Davi Sena</td>
				<td>Manhã</td>
				<td><a class="btn btn-warning waves-effect waves-light"
					href="editar-oferta.html" role="button">Editar</a></td>
				<td><a class="btn btn-info waves-effect waves-light"
					href="detalhar-oferta.html" role="button">Ver Detalhes</a></td>
				<td><button type="button"
						class="btn btn-danger waves-effect waves-light">Excluir</button></td>
			</tr>
			<tr>
				<td>Estrutura de Dados</td>
				<td>Davi Sena</td>
				<td>Manhã</td>
				<td><a class="btn btn-warning waves-effect waves-light"
					href="editar-oferta.html" role="button">Editar</a></td>
				<td><a class="btn btn-info waves-effect waves-light"
					href="detalhar-oferta.html" role="button">Ver Detalhes</a></td>
				<td><button type="button"
						class="btn btn-danger waves-effect waves-light">Excluir</button></td>
			</tr>
			<tr>
				<td>Estrutura de Dados</td>
				<td>Davi Sena</td>
				<td>Manhã</td>
				<td><a class="btn btn-warning waves-effect waves-light"
					href="editar-oferta.html" role="button">Editar</a></td>
				<td><a class="btn btn-info waves-effect waves-light"
					href="detalhar-oferta.html" role="button">Ver Detalhes</a></td>
				<td><button type="button"
						class="btn btn-danger waves-effect waves-light">Excluir</button></td>
			</tr>
			<tr>
				<td>Estrutura de Dados</td>
				<td>Davi Sena</td>
				<td>Manhã</td>
				<td><a class="btn btn-warning waves-effect waves-light"
					href="editar-oferta.html" role="button">Editar</a></td>
				<td><a class="btn btn-info waves-effect waves-light"
					href="detalhar-oferta.html" role="button">Ver Detalhes</a></td>
				<td><button type="button"
						class="btn btn-danger waves-effect waves-light">Excluir</button></td>
			</tr>
			<tr>
				<td>Estrutura de Dados</td>
				<td>Davi Sena</td>
				<td>Manhã</td>

				<td><a class="btn btn-warning waves-effect waves-light"
					href="editar-oferta.html" role="button">Editar</a></td>
				<td><a class="btn btn-info waves-effect waves-light"
					href="detalhar-oferta.html" role="button">Ver Detalhes</a></td>
				<td><button type="button"
						class="btn btn-danger waves-effect waves-light">Excluir</button></td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="5"><div class="text-right">
						<ul class="pagination pagination-split m-t-30">
						</ul>
					</div></td>
			</tr>
		</tfoot>
	</table>

</section>


</html>

