<!DOCTYPE html>
<html lang="ptBR" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="base/base">


	<link rel="icon" type="image/png" sizes="16x16"
		th:href="@{../plugins/images/favicon.png}" />
	<title>Periodos</title>
	
	
	<section layout:fragment="header">
		<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
			<h4 class="page-title">Periodos</h4>
		</div>
	</section>
	
	<section layout:fragment="conteudo"></section>
</html>
