<!DOCTYPE html>
<html lang="ptBR" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="base/base">


	<link rel="icon" type="image/png" sizes="16x16"
		th:href="@{/plugins/images/favicon.png}" />
	<title>Periodos</title>

	
	<section layout:fragment="header">
		<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
			<h4 class="page-title">Periodos</h4>
		</div>
	</section>
	
	<section layout:fragment="conteudo">
	
		<h3 class="box-title m-b-0">Periodos</h3>            
            <div class="table-responsive">
            <table id="myTable" class="table table-striped">
              <thead>
                <tr>
                  <th>Ano</th>
                  <th>Semestre</th>
                  <th>Status</th>
                  <th class="text-nowrap">Ações</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="periodo: ${periodos}">
                  <td th:text="${periodo.ano}"></td>
                  <td th:text="${periodo.semestre}"></td>
                  <td th:text="${periodo.status}"></td>
                  <td><button type="submit" class="btn btn-inverse waves-effect waves-light"><i class="fa fa-pencil"></i> Detalhes </button></td>                  
                  <td><button type="submit" class="btn btn-inverse waves-effect waves-light"><i class="fa fa-pencil"></i> Editar </button></td>
                  <td><button type="submit" class="btn btn-danger waves-effect waves-light m-r-10 gp-btn-desvincular"><i class="fa fa-close" ></i> Excluir </button></td>               
                </tr>                
              </tbody>
            </table>
            </div>

	
	</section>

</html>
