<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="base/base">

<head>
    <title>Clínicas - Material</title>
</head>

<section layout:fragment="conteudo" th:with="acao_url=${acao == 'ADICIONAR'? 'adicionar' :'editar' }">
	<div class="row">
	
		<div class="col s12 breadcrumbs valign-wrapper">
            <a th:href="@{/}" class="breadcrumb blue-grey-text">
                <i class="material-icons left">home</i>
            </a>
            
            <a th:href="@{/material/listar}" class="breadcrumb blue-grey-text">Material</a>
            
            <a th:if="${acao == 'ADICIONAR'}" class="breadcrumb blue-grey-text">Cadastrar</a>
            <a th:if="${acao == 'EDITAR'}" class="breadcrumb blue-grey-text">Editar</a>
        </div>
	
	    <div class="col s12">
	
	        <form class="card form_ajax" data-model="material" th:attr="data-action=${acao_url}" method="post" th:action="@{${'/material/api/'+acao_url}}" th:object="${material}">
	        
	        	<div class="card-image indigo lighten-1 center-align">
	        		<a th:if="${acao == 'ADICIONAR'}" class="card-title-large blue-grey-text text-lighten-5">Cadastrar Material</a>
            		<a th:if="${acao == 'EDITAR'}" class="card-title-large blue-grey-text text-lighten-5">Editar Material</a>
				</div>

				<div class="card-content">     
	         		<input th:if="${acao == 'EDITAR'}" type="hidden" th:field="*{id}"/>
	             	<div class="row">
	             	<input name="id-m" type="hidden" th:field="*{id}"/>
	                    <div class="input-field col s12">
	                        <input id="name" type="text" autocomplete="off" th:field="*{nome}" class="validate"/>
	                        <label for="name">Nome</label>
	                    </div>
	                    
	                </div>
	                <div th:if="${acao} == 'ADICIONAR'" class="materiaisBanco horizontal-list grey lighten-3">
                		<div  id="material-item-template" class="itens card waves-effect"> 
                			<div class="card-content">
                				<div class="col s12 row no-padding">
									<div class="col s12 no-padding">
										<span class="val-nome-material light-text grey-text text-darken-2" ></span>
										<br/>
										<div class="valign-wrapper">
											<i class="mdi mdi-ruler code-icon"></i>
											<span class="val-unidade-medida light-text grey-text text-darken-2"></span>
										</div>
										<div class="valign-wrapper">
											<i class="mdi mdi-microscope code-icon"></i>
											<span class="val-codigo-interno-material light-text grey-text text-darken-2"></span>
										</div>
										
										<input name="id-m" class="val-id-material" type="hidden" id="selected-material-id"/>
									</div>
								</div>
                			</div> 
                		</div>
	                </div>
	                <div class="row">
						<div class="input-field col s12">
	                		<input id="desc" type="text" autocomplete="off" name="descricao" th:value="*{descricao}" class="validate"/>
	                    		<label for="desc">Descriçao</label>
	                    </div>
	                </div>
					<div class="row">			
						<div class="input-field col s4">							
							<select th:field="*{unidadeMedida}">								     	          
		     					<option th:each="medida : ${unidadesMedida}" th:text="${medida.nome}" th:value="${medida.id}"></option>
		    				</select>
		    				<label>Unidade de Medida</label>
						</div>
											
						<div class="input-field col s4">		
							<select th:field="*{grupo}">        	
		     					<option th:each="grupo : ${gruposMaterial}" th:text="${grupo.nome}" th:value="${grupo.id}"></option>
		     				</select>
		     				<label>Grupo do Material</label>
						</div>
						<div class="input-field col s4">
	                        <input id="cinterno" type="text" name="codigoInterno" th:value="*{codigoInterno}" class="validate"/>
	                        <label for="cinterno">Código Interno</label>
	                    </div>
					</div>
					
					 <div class="row">
	                    
	                    <!-- 	
	                    	Temporariamente comentado                    	
		                    <div class="input-field col s6">
		                        <input id="estoque" type="number" th:field="*{estoque}" step="1" class="validate"/>
		                        <label for="estoque">Estoque</label>
		                    </div>
	                     -->
	                </div>
	                <div class="row">
	                	<div class="input-field input-field-cbarras col s11">
	                        <input id="cbarras"  type="text" name="codigos" class="validate" />
	                        <label for="cbarras">Código de Barras</label>
	                    </div>
	                    <!-- 
	                    <div class="col s1">
	                    	<button type="button" class="dl-add btn-floating btn-large waves-effect grey lighten-3"><i class="material-icons cyan-text">add</i></button>
	                    </div>
		                  -->
		                <div class="col s12">
			                <div class="dl dl-container row grey lighten-3">
			                	
			                	<div class="codBarrasList dl-el col s4">
			                		<div class="card">
				                		<div class="card-content valign-wrapper">
				                			<i class="mdi mdi-barcode code-icon"></i>
				                			<span class="bar-code truncate"></span>
				                			
				                			<button type="button" class="dl-delete btn-floating waves-effect btn-delete-barcode">
				                				<i class="material-icons">delete</i>
				                			</button>
				                		</div>
				                	</div>
			                	</div>
			                	
			                </div>
			            </div>
		                 
	                </div>	
	            </div>	              
				
	            <div class="card-action right-align">
	            	<a th:href="@{/material/listar/}" type="button" class="btn-flat waves-effect">Cancelar</a>
                    <button th:if="${acao == 'ADICIONAR'}" type="submit" value="keep_add" class="btn waves-effect white-text">SALVAR E ADICIONAR OUTRO</button>
                    <button th:if="${acao == 'ADICIONAR'}" type="submit" value="exit" class="btn waves-effect white-text">SALVAR E SAIR</button>
                    <button th:if="${acao == 'EDITAR'}" type="submit" value="exit" class="btn waves-effect white-text">SALVAR</button>                                      
	            </div>
	             
	        </form>
	    </div>	        	   
	</div>
	<!--end container-->
</section>
<section layout:fragment="js">
	<script type="text/javascript">		
		$("#disciplinaASelect").select2();
		$("#disciplinaBSelect").select2();
		$("#turmaASelect").select2();
		$("#turmaBSelect").select2();
	</script>
</section>
</html>











<div class="col-md-12">
	<div class="white-box">
		<form th:action="@{${'/empilhamentos/cadastrar'}}" method="POST">
			<div class="form-group">
            	<label>Disciplina A</label>
              	<select id="disciplinaASelect" class="form-control" multiple="multiple" title="Supervisor" name="idDisciplinaA">
             		<option value=""></option>
                	<option th:each ="disciplina : ${disciplinas}" 
                	    th:value = "${disciplina.id}"
                        th:text = "${disciplina.nome}"></option>
				</select>
             </div>
             <div class="form-group">
              <label>Turma A</label>
              <select id="turmaASelect" class="form-control" multiple="multiple" title="Supervisor" name="idTurmaA">
             		<option value=""></option>
                	<option th:each ="turma : ${turmas}" 
                	    th:value = "${turma.id}"
                        th:text = "${turma.nome}"></option>
				</select>
             </div>
            <div class="form-group">
              <label>Disciplina B</label>
              <select id="disciplinaBSelect" class="form-control" multiple="multiple" title="Supervisor" name="idDisciplinaB">
             		<option value=""></option>
                	<option th:each ="disciplina : ${disciplinas}" 
                	    th:value = "${disciplina.id}"
                        th:text = "${disciplina.nome}"></option>
				</select>
            </div>
            <div class="form-group">
              <label>Turma B</label>
              <select id="turmaBSelect" class="form-control" multiple="multiple" title="Supervisor" name="idTurmaB">
             		<option value=""></option>
                	<option th:each ="turma : ${turmas}" 
                	    th:value = "${turma.id}"
                        th:text = "${turma.nome}"></option>
				</select>
             </div>
			<button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Cadastrar</button>
			<button type="button" class="btn btn-inverse waves-effect waves-light">Cancelar</button>
		</form>
	</div>  
</div> 




<script>
	
</script>



