<!DOCTYPE html>
<html lang="ptBR" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="base/base">

	<link rel="icon" type="image/png" sizes="16x16"
		href="../plugins/images/favicon.png"></link>
	<title>Editar Disciplina</title>
	
	<section layout:fragment="header">
		<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
			<h4 class="page-title">Cadastrar Disciplina</h4>
		</div>
	</section>
	
	<section layout:fragment="conteudo">
		<form class="form-horizontal">
			<div class="form-group">
				<label class="col-md-12">Nome da Disciplina</label>
				<div class="col-md-12">
					<input class="form-control" value="" type="text"></input>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-12">Créditos</label>
				<div class="col-md-12">
					<input class="form-control" type="number"></input>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-12">Carga horária teórica</label>
				<div class="col-md-12">
					<input class="form-control" type="number"></input>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-12">Carga horária prática</label>
				<div class="col-md-12">
					<input class="form-control" type="number"></input>
				</div>
			</div>
			<div class="text-right">
				<button type="submit"
					class="btn btn-success waves-effect waves-light m-r-10">Submeter</button>
				<button type="submit"
					class="btn btn-inverse waves-effect waves-light">Cancel</button>
			</div>
		</form>
	</section>
</html>
