<!DOCTYPE html>
<html lang="ptBR" 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="base/base">

	<link rel="icon" type="image/png" sizes="16x16" th:href="@{/plugins/images/favicon.png}"></link>
	<title>Detalhes Período | Alocação Professores</title>

	<section layout:fragment="conteudo">
		<div class="row bg-title">
			<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
				<h3 class="box-title">Períodos</h3>	
			</div>
			<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
		    	<a th:href="@{/periodos/cadastrar}" class="btn btn-success pull-right m-l-20 btn-rounded hidden-xs hidden-sm waves-effect waves-light"><i class="fa fa-plus" aria-hidden="true"></i> Novo Período</a>
			</div>
		</div>		
		<div class="row">
        <div class="col-sm-12">
          <div class="white-box">         
            <div class="table-responsive">
            <table id="myTable" class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th class="text-center">Ano</th>
                  <th class="text-center">Semeste</th>
                  <th class="text-center">Status</th> 
                  <th class="text-center">Início Coordenação</th>
                  <th class="text-center">Fim Coordenação</th>
                  <th class="text-center">Início Direção</th>
                  <th class="text-center">Fim Direção</th>
                  <th class="text-center" >Início Ajuste</th>
                  <th class="text-center">Fim Ajuste</th>                                 
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="text-center" th:text="${periodo.ano}"></td>
                  <td class="text-center" th:text="${periodo.semestre}"></td>
                  <td class="text-center" th:text="${periodo.status}"></td>                                                                                                      
  				  <td class="success text-center" th:text="${#dates.format(periodo.inicioPeriodoCoordenacao, 'dd/MMM/yyyy')}"></td>
				  <td class="danger text-center" th:text="${#dates.format(periodo.fimPeriodoCoordenacao, 'dd/MMM/yyyy')}"></td>
                  <td class="success text-center" th:text="${#dates.format(periodo.inicioPeriodoDirecao, 'dd/MMM/yyyy')}"></td>
                  <td class="danger text-center" th:text="${#dates.format(periodo.fimPeriodoDirecao, 'dd/MMM/yyyy')}"></td>
                  <td class="success text-center" th:text="${#dates.format(periodo.inicioPeriodoAjuste, 'dd/MMM/yyyy')}"></td>
                  <td class="danger text-center" th:text="${#dates.format(periodo.fimPeriodoAjuste, 'dd/MMM/yyyy')}"></td>
                </tr>                        
             </tbody>
            </table>            
            </div>
          </div>
        </div>
        </div>
        <div class="row">
        	<div class="col-sm-12">
        		<div class="white-box">
        			<div class="table-responsive">
        				<table id="myTable" class="table table-striped table-bordered">
        					<thead>
        						<tr>
        							<th>Disciplina</th>
        							<th>Turma</th>
        							<th>Turno</th>
        							<th>Vagas</th>    							
        							<th>CC</th>
        							<th>DD</th>
                                    <th>ES</th>
                                    <th>EC</th>
                                    <th>RD</th>
                                    <th>SI</th>                                   
                                    <th>Total</th>
                                    <th class="text-nowrap"></th>
        						</tr>
        					</thead>
        					<tbody>
        						<tr th:each="oferta : ${periodo.ofertas}">
        							<td th:text="${oferta.disciplina.nome}"></td>
        							<td th:text="${#strings.concat(oferta.turma.curso.sigla,' ' ,oferta.turma.semestre)}" ></td>
        							<td th:text="${oferta.turno.descricao}"></td>
        							<td th:text="${oferta.vagas}"></td> 
        						</tr>
        					</tbody>
        				</table>
        			</div>
        		</div>
        	</div>
        </div>
		
	</section>
	<section layout:fragment="js">
		<script th:src="@{/js/periodo/periodo.js}"></script>
	</section>
</html>