@CHARSET "UTF-8";

.panel-margin {
	width:25%;
}

.panel-informe {
	margin-bottom: 2%;
}

.btn-acoes {
	margin-left: 5px;
}

.modal-resultado-ofertas {
	background: #eaeaea !important;
}

.modal-border {
	border-bottom: 1px solid #77797b !important;
}

.msg-substituicao {
	font-weight: 400;
}

.size-opcao-compartilhamento {
	width: 132px;
}