<html 
	lang="ptBR"
	xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">


<!-- Top Navigation -->
<nav class="navbar navbar-default navbar-static-top m-b-0" th:fragment="navbar-header">
   <div class="navbar-header">
      <!-- Toggle icon for mobile view --> 
      <!-- Logo -->
      <div class="col-sm-4">
      <h3 class="m-l-20 m-t-15" style="color: #ffffff; font-weight: 500;"><i class="m-r-5 fa fa-mortar-board"></i> Planejamento de Oferta Acadêmica</h3>


      </div>
      <!-- /Logo -->
      <!-- This is the message dropdown -->
      <ul class="nav navbar-top-links navbar-right pull-right">
         <!-- .user dropdown -->
         <li class="dropdown m-r-20">
            <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#"> <img th:src="@{/plugins/images/users/varun.jpg}" alt="user-img" width="36" class="img-circle" /><b class="hidden-xs" th:inline="text">[[${#authentication.principal.nome}]]</b> </a>
            <ul class="dropdown-menu dropdown-user animated flipInY">
               <li><a href="#"><i class="ti-user"></i> Perfil</a></li>
               <li role="separator" class="divider"></li>
               <li><a th:href="@{/logout}"><i class="fa fa-power-off"></i> Sair</a></li>
            </ul>
            <!-- /.user dropdown-user -->
         </li>
         <!-- /.user dropdown -->
      </ul>
   </div>
   <!-- /.navbar-header -->
   <!-- /.navbar-top-links -->
   <!-- /.navbar-static-side -->
</nav>
<!-- End Top Navigation -->
</html>
