<!DOCTYPE html>
<html 
	lang="ptBR"
	xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<!-- Left navbar-header -->
<div class="navbar-default sidebar" role="navigation" th:fragment="sidebar">
   <div class="sidebar-nav navbar-collapse">
      <ul class="nav" id="side-menu">
         <li class="sidebar-search hidden-sm hidden-md hidden-lg">
            <!-- input-group -->
            <div class="input-group custom-search-form">
               <input type="text" class="form-control" placeholder="Search..." />
               <span class="input-group-btn">
               <button class="btn btn-default" type="button"> <i class="fa fa-search"></i> </button>
               </span> 
            </div>
            <!-- /input-group -->
         </li>
         <li>
            <a id="menu-ofertas" sec:authorize="hasAnyAuthority('DIRECAO', 'COORDENACAO')" th:href="@{/ofertas}" class="waves-effect"><i class="linea-icon linea-basic fa-fw" data-icon="v"></i> <span class="hide-menu"> Ofertas <span class="fa arrow"></span> </span></a>
         </li>
         <li>
            <a sec:authorize="hasAnyAuthority('DIRECAO', 'COORDENACAO')" th:href="@{/empilhamentos}" class="waves-effect"><i class="linea-icon linea-basic fa-fw" data-icon="v"></i> <span class="hide-menu"> Empilhamentos <span class="fa arrow"></span> </span></a>
         </li>
         <li>
            <a sec:authorize="hasAnyAuthority('DIRECAO', 'COORDENACAO')" th:href="@{/periodos}" class="waves-effect"><i class="linea-icon linea-basic fa-fw" data-icon="v"></i> <span class="hide-menu"> Periodos <span class="fa arrow"></span> </span></a>
         </li>
         <li>
            <a sec:authorize="hasAnyAuthority('DIRECAO', 'COORDENACAO')" th:href="@{/disciplinas}" class="waves-effect"><i class="linea-icon linea-basic fa-fw" data-icon="v"></i> <span class="hide-menu"> Disciplinas <span class="fa arrow"></span> </span></a>
         </li>
<!--          <li> -->
<!--             <a sec:authorize="hasAnyAuthority('DIRECAO', 'COORDENACAO')" th:href="@{/empilhamentos}" class="waves-effect"><i class="linea-icon linea-basic fa-fw" data-icon="v"></i> <span class="hide-menu"> Empilhamentos<span class="fa arrow"></span> </span></a> -->
<!--          </li> -->
         <li>
            <a sec:authorize="hasAnyAuthority('DIRECAO', 'COORDENACAO')" th:href="@{/oferta-campus}" class="waves-effect"><i class="linea-icon linea-basic fa-fw" data-icon="v"></i> <span class="hide-menu"> Ofertas do Campus <span class="fa arrow"></span> </span></a>
         </li>
		<li>
            <a sec:authorize="hasAnyAuthority('DIRECAO')" th:href="@{/professores}" class="waves-effect"><i class="linea-icon linea-basic fa-fw" data-icon="v"></i> <span class="hide-menu"> Professores <span class="fa arrow"></span> </span></a>
         </li>
      </ul>
   </div>
</div>
<!-- Left navbar-header end -->
</html>
